.left-bar {
    position: absolute;
    height: 100%;
    width: 25%;
    padding-left: 3%;
    top: 0;
    left: 0;
    padding-top: 1%;
    border-right: 2px solid #AAB8C2;
}
.right-bar {
    height: 100%;
    width: 25%;
    padding-right: 3%;
    padding-top: 1%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 2px solid #AAB8C2;
}
.input-search {
    width: 85%;
    padding-left: 5px;
    line-height: 20px;
    font-size: 15px;
    height: 20px;
    border: 1px solid #E1E8ED;
    background-color: #E1E8ED;
}
.search {
    margin-left: 3%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 50px;
    align-items: center;
    display: flex;
    height: 40px;
    right: 0;
    background: #E1E8ED;
  
}
.trending {
    margin-left: 3%;
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 5%;
    height: 100%;
    margin-bottom: 10%;
    background: #f5f8fa;
    border-radius: 15px;;
}
.main {
    display: inline-block;
}