body, html {
   padding: 0;
   margin: 0;
}
textarea {
    resize: none;
}

.left-bar {
    width: 22% !important;
    border-right: 1px solid #AAB8C2;
    flex-direction: row;
    display: flex;
}
.center-content{
    width: 45%;
    flex-direction: row;
}
.main-class{
    height: 100%;
    width: 100%;
	display: flex;
}

.footer-link {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    color: #AAB8C2;
}

.tread-inner {
    margin-top: 5% !important;
    margin-bottom: 0% !important;
    color: #AAB8C2;
}

.hashtag {
    margin-top: 1% !important;
    margin-bottom: 2% !important;
    font-weight: bold;
}

.link-title {
    margin-top: 5% !important;
    margin-bottom: 0% !important;
    color: #AAB8C2;
}

.link-text {
    margin-top: 1% !important;
    margin-bottom: 2% !important;
    font-weight: lighter !important;
}

.trend-item {
    padding-left: 3%;
    position: relative;
    width: 97%;
    border-bottom: 1px solid #E1E8ED;
}

.footer-trend {
    padding-top: 1%;
    padding-left: 3%;
    position: relative;
    width: 97%;
}

.show-more {
    margin-top: 1% !important;
    margin-bottom: 2% !important;
    font-weight: bold;
    color: #1DA1F2;
}

.treading-link {
    display: flex;
    border: 1px solid #E1E8ED;
    border-radius: 10px;
    margin-right: 3%;
}

.treading-link-text {
    padding-left: 5%;
    flex: 75%;
}

.treading-link-image {
    flex: 25%;
}

.treading-link-iimage {
    width: 100%;
    height: 100%;
    object-fit: "contain";
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-bar {
    width: 30%;
    border-left: 1px solid #AAB8C2;
    flex-direction: row;
    padding-left: 2%;
}
.center-header{
    align-items: center;
    border-bottom: 10px solid #E1E8ED;
}
.actions{
    margin-left: 13%;
}
.simple-tweet {
    border-bottom: 1px solid #E1E8ED;
}
.input-search {
    width: 220px;
    padding-left: 5px;
    line-height: 20px;
    font-size: 15px;
    height: 20px;
    border: 1px solid #E1E8ED;
    background-color: #E1E8ED;
}
.tweet-name{
    color: #000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.tweet-content {
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;      /* IE 5.5-7 */
      white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
      white-space: pre-wrap;      /* current browsers */
    margin-top: 1%;
}
.tweet-username {
    color: gray;    
    font-family: Arial, Helvetica, sans-serif;
}
.tweet-time {
    color: gray;    
    font-family: Arial, Helvetica, sans-serif;
}
.tweet-area{
    width: 96%;
    font-size: 150%;
    overflow: hidden;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
    border: none;
    border-radius: 15px;
}
.avatar {
    width: 70%;
    margin-left: 5%;
    margin-bottom: 3%;
    border-radius: 50%;
}
.first-avatar-tweet {
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 3%;
    border-radius: 50%;
}
.avatar-tweet {
    width: 60%;
    margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 3%;
    border-radius: 50%;
}
.search {
    width: 80%;
    margin-left: 3%;
    border-radius: 50px;
    align-items: center;
    display: flex;
    height: 40px;
    right: 0;
    background: #E1E8ED;
}
.home {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #E1E8ED;
    padding-left: 2%;
}

.trending {
    width: 80%;
    margin-left: 3%;
    margin-top: 5%;
    height: 100%;
    background: #f5f8fa;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-tr {
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    display: flex;
}

.treading-gear {
    width: 50%;
    position: relative;
}

.treading-head {
    border-bottom: 1px solid #E1E8ED;
}

.side-content {
    padding-top: 3%;
    padding-left: 5vw;
}

.img-menu {
    height: 4vh;
    position: relative;
    -left: 1%;
}

.item-menu{
    flex-direction: column;
    padding-left: 1vw;
    align-self: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: inline-flex;
    padding-top: 0.5vh;
    width: 100%;
}
.menu:hover{
    color: #1DA1F2;
}

.tweet {
    line-height: 250%;
    text-align: center;
    width: 12vw;
    height: 7vh;
    border-radius: 50px;
    align-self: center;
    background: #1DA1F2;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.btn {
    margin: 0 auto;
    align-self: center;
    flex-direction: column;
}
.btnt {
    float: right;
    margin-right: 3%;
    margin-bottom: 10%;
    height: 15px;
}
.small-tweet {
    background: #1DA1F2;
    height: 30px;
    width: 80px;
    text-align: center;
    border-radius: 50px;
    line-height: 14px;
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    vertical-align: middle;
}